In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Table2.csv')

In [3]:
df.head()

      id  hypertension  heart_disease  avg_glucose_level   bmi  stroke
0  30669             0              0              95.12  18.0       0
1  30468             1              0              87.96  39.2       0
2  16523             0              0             110.89  17.6       0
3  56543             0              0              69.04  35.9       0
4  46136             0              0             161.28  19.1       0

### Select By Column

In [7]:
data = df['avg_glucose_level']
data

0         95.12
1         87.96
2        110.89
3         69.04
4        161.28
          ...
43395     58.64
43396    213.61
43397     91.94
43398     99.16
43399     79.48
Name: avg_glucose_level, Length: 43400, dtype: float64

In [10]:
data = df.iloc[:, 3:5]
print(data)

data = df[['avg_glucose_level', 'bmi']]
data

       avg_glucose_level   bmi
0                  95.12  18.0
1                  87.96  39.2
2                 110.89  17.6
3                  69.04  35.9
4                 161.28  19.1
...                  ...   ...
43395              58.64  20.4
43396             213.61  55.4
43397              91.94  28.9
43398              99.16  33.2
43399              79.48  20.6

[43400 rows x 2 columns]

       avg_glucose_level   bmi
0                  95.12  18.0
1                  87.96  39.2
2                 110.89  17.6
3                  69.04  35.9
4                 161.28  19.1
...                  ...   ...
43395              58.64  20.4
43396             213.61  55.4
43397              91.94  28.9
43398              99.16  33.2
43399              79.48  20.6

[43400 rows x 2 columns]

### Selection by Row

In [11]:
data = df.iloc[0]
print(data)

id                   30669.00
hypertension             0.00
heart_disease            0.00
avg_glucose_level       95.12
bmi                     18.00
stroke                   0.00
Name: 0, dtype: float64

In [12]:
data = df.iloc[:2, :]
data

      id  hypertension  heart_disease  avg_glucose_level   bmi  stroke
0  30669             0              0              95.12  18.0       0
1  30468             1              0              87.96  39.2       0

Bedanya iloc sama loc i pake integer